<div class="container-fluid">
    <div class="row">
        <h2 mat-dialog-title align="center">Visualization Generator</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5>1. Select Dataset</h5>
                <div class="card-body">
                    <p>Select Job Postings where...</p>
                    <div class="data_select_input">
                        <input type="checkbox" id="jobNameCheckbox" [(ngModel)]="jobNameCheckbox" (change)="updateQueryParameters()" />
                        <label for="jobNameCheckbox">Jobname is</label>
                        <input type="text" [attr.list]="jobNameInput ? 'jobNameSuggestions' : null" [(ngModel)]="jobNameInput" [disabled]="!jobNameCheckbox" (input)="updateQueryParameters()" />
                        <datalist id="jobNameSuggestions">
                            <option *ngFor="let suggestion of allSuggestions" [value]="suggestion"></option>
                        </datalist>
                    </div>
                    <div class="data_select_input">
                        <input type="checkbox" id="createdBeforeCheckbox" [(ngModel)]="createdBeforeCheckbox" (change)="updateQueryParameters()" />
                        <label for="createdBeforeCheckbox">Created before</label>
                        <input type="date" [(ngModel)]="createdBeforeDate" [disabled]="!createdBeforeCheckbox" (input)="updateQueryParameters()" />
                    </div>
                    <div class="data_select_input">
                        <input type="checkbox" id="createdAfterCheckbox" [(ngModel)]="createdAfterCheckbox" (change)="updateQueryParameters()" />
                        <label for="createdAfterCheckbox">Created after</label>
                        <input type="date" [(ngModel)]="createdAfterDate" [disabled]="!createdAfterCheckbox" (input)="updateQueryParameters()" />
                    </div>
                    <div class="data_select_input">
                        <input type="checkbox" id="applicantNumberCheckbox" [(ngModel)]="applicantNumberCheckbox" (change)="updateQueryParameters()" />
                        <label for="applicantNumberCheckbox">At least</label>
                        <input type="number" [(ngModel)]="applicantNumber" [disabled]="!applicantNumberCheckbox" (input)="updateQueryParameters()" min="1" />
                        <label>applicant(s)</label>
                    </div>
                    <div class="data_select_input">
                        <input type="checkbox" id="fulltimeJobCheckbox" [(ngModel)]="fulltimeJobCheckbox" (change)="updateQueryParameters()" />
                        <label for="fulltimeJobCheckbox">For a</label>
                        <select [(ngModel)]="fulltimeJob" [disabled]="!fulltimeJobCheckbox" (change)="updateQueryParameters()">
                            <option value="true">fulltime</option>
                            <option value="false">parttime</option>
                        </select>
                        <label> job</label>
                    </div>
                    <div class="data_select_input">
                        <input type="checkbox" id="limitedJobCheckbox" [(ngModel)]="limitedJobCheckbox" (change)="updateQueryParameters()" />
                        <label for="limitedJobCheckbox">For a</label>
                        <select [(ngModel)]="limitedJob" [disabled]="!limitedJobCheckbox" (change)="updateQueryParameters()">
                            <option value="true">limited</option>
                            <option value="false">unlimited</option>
                        </select>
                        <label> job</label>
                    </div>
                    <div class="data_select_input">
                        <input type="checkbox" id="listsSkillCheckbox" [(ngModel)]="listsSkillCheckbox" (change)="updateQueryParameters()" /> <label for="listsSkillCheckbox">Lists skill</label>
                        <input type="text" [(ngModel)]="skill" [disabled]="!listsSkillCheckbox" (input)="updateQueryParameters()" placeholder="Enter skill" />
                    </div>
                    <br />

                    <div class="row">
                        <div class="search-container">
                            <button id="preview button" (click)="onSearch()">Preview</button>
                            <!-- preview button to not absolutely spam the GraphDB with queries -->
                            <!-- <input
                                [(ngModel)]="searchTerm"
                                (input)="onSearch(searchTerm)"
                                type="text"
                                placeholder="Please enter the complete job name here"
                                [matTooltip]="
                                    chartType === 'Bar Chart'
                                        ? 'Job name is necessary, and before you go forward to the Visualization Editor, 
                                please enter the complete job name (case-sensitive)'
                                        : 'Job name is not necessary, but if you enter the job name and 
                                before going forward to the Visualization Editor, please enter the complete job name (case-sensitive)'
                                "
                            /> -->
                            <p class="result-p">
                                {{ previewResults.length > 0 ? "Showing job titles from 1 to " + previewResults.length : "No job title Found" }}
                            </p>
                        </div>
                        <div class="table-container" *ngIf="previewResults.length > 0">
                            <table>
                                <tr>
                                    <th>No.</th>
                                    <th>Job title</th>
                                </tr>
                                <tr *ngFor="let result of previewResults; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>
                                        {{ result.title }}
                                        <a href="{{ result.link }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5>2. Select Visualization Type</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <img src="assets/line-chart.png" id="line_chart" (click)="chartTypeSelect($event)" class="img-button" width="100" height="100" />
                            <p>Line Chart</p>
                        </div>
                        <div class="col-md-3 text-center">
                            <img src="assets/bar-chart.png" id="bar_chart" (click)="chartTypeSelect($event)" class="img-button" width="100" height="100" />
                            <p>Bar Chart</p>
                        </div>
                        <div class="col-md-3 text-center">
                            <img src="assets/pie-chart.png" id="pie_chart" (click)="chartTypeSelect($event)" class="img-button" width="100" height="100" />
                            <p>Pie Chart</p>
                        </div>
                        <div class="col-md-3 text-center">
                            <img src="assets/star-plot.png" id="star_plot" (click)="chartTypeSelect($event)" class="img-button" width="100" height="100" />
                            <p>Star Plot</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5>3. Select Properties to Visualize</h5>
                <div class="card-body">
                    <div class="row property-selection">
                        <div class="data_select_input">
                            <input type="checkbox" id="jobNameProperty" name="title" #propertyCheckbox (change)="updateProperties()" checked disabled />
                            <label for="jobNameProperty">Jobname</label>
                        </div>
                        <div class="data_select_input">
                            <input type="checkbox" id="creationDateProperty" name="created" #propertyCheckbox (change)="updateProperties()" />
                            <label for="creationDateProperty">Creation date</label>
                        </div>
                        <div class="data_select_input">
                            <input type="checkbox" id="skillProperty" name="skillName" #propertyCheckbox (change)="updateProperties()" />
                            <label for="skillProperty">Skill</label>
                        </div>
                        <div class="data_select_input">
                            <input type="checkbox" id="fulltimeProperty" name="fulltime" #propertyCheckbox (change)="updateProperties()" />
                            <label for="fulltimeProperty">Fulltime job</label>
                        </div>
                        <div class="data_select_input">
                            <input type="checkbox" id="limitedProperty" name="limited" #propertyCheckbox (change)="updateProperties()" />
                            <label for="limitedProperty">Limited job</label>
                        </div>
                        <div class="data_select_input">
                            <input type="checkbox" id="applicantNumberProperty" name="applicants" #propertyCheckbox (change)="updateProperties()" />
                            <label for="applicantNumberProperty">Number of applicants</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5>4. Map Properties to Visualization</h5>
                <div class="card-body preview-content">
                    <p>Please select a visualization type first.</p>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button mat-raised-button mat-dialog-close class="to-dashboard-btn">Back to Dashboard</button>
                <button mat-raised-button class="to-editor-btn" (click)="forwardToEditor()" cdkFocusInitial>Forward to Editor</button>
            </div>
        </div>
    </div>
</div>
