.card {
    margin: 20px;
    border-width: 2px !important;
}

.to-dashboard-btn{
    font-size: 16px;
}

.to-editor-btn {
    margin: 20px;
    font-size: 16px;
}

/* .img-button:active {
    transform: scale(0.95);
} */

.img-button {
    border-radius: 5px;
}

.img-button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.confirm-btn {
    margin-left: 20px; 
}

.result-p {
    color: rgb(68, 68, 133);
    font-size: 18px;
}

input {
    height: 34px;
    border-radius: 5px;
    width: 350px;
}

input:enabled {
    border: 1px solid rgb(68, 68, 133);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    color: rgb(68, 68, 133);
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

td:last-child {
    border-right: none;
}

th:last-child {
    border-right: none;
}

.table-container {
    max-height: 500px;
    overflow-y: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.table-container td {
    font-size: 16px;
}

p {
    margin-left: 8px;
}

.data_select_input input[type="checkbox"] {
    width: 50px;
}

.data_select_input input[type="text"],
.data_select_input input[type="date"],
.data_select_input input[type="number"],
.data_select_input label {
    vertical-align: top;
    margin-top: 2px;
    margin-left: 10px;
}

#checkbox_1 {
    width: 250px;
}

label[for="jobNameCheckbox"],
#checkbox_1 {
    margin-top: -1px;
}

#checkbox_2 {
    width: 140px;
}

label[for="createdBeforeCheckbox"],
#checkbox_2{
    margin-top: -1px;
}

#checkbox_3 {
    width: 140px;
}

label[for="createdAfterCheckbox"],
#checkbox_3 {
    margin-top: -1px;
}

#checkbox_4 {
    width: 60px;
}

label[for="applicantNumberCheckbox"],
#checkbox_4 {
    margin-top: -1px;
}

#checkbox_5, #checkbox_6 {
    width: 140px;
}

#checkbox_7 {
    width: 268px;
}

label[for="fulltimeJobCheckbox, limitedJobCheckbox, listsSkillCheckbox"],
#checkbox_5, #checkbox_6, #checkbox_7{
    margin-top: -1px;
}

/* .data_select_input input[type="date"] {
    width: 150px;
}

.data_select_input input[type="number"] {
    width: 80px;
} */

.data_select_input select {
    vertical-align: top;
    margin-top: 2px;
    margin-left: 10px;
    height: 34px;
    padding: 1px 2px;
}

.table-container i {
    margin-left: 5px;
}

.img-disabled {
    opacity: 0.5;
    pointer-events: none;
}