<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <button mat-raised-button (click)="backToDashboard()">Back to Dashboard</button>
        </div>
        <h2 mat-dialog-title align="center">Pie Chart Editor</h2>
    </div>
    <div class="card" style="margin-top: 20px;">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9 text-center" id="editor-pie" style="display: flex; justify-content: center; align-items: center;">
                    <p>Pie Chart</p>
                </div>
                <div class="col-md-3" style = "margin-top: 15px;">
                    <mat-radio-group [(ngModel)]="selectedOption" (change)="onOptionChange($event)">
                        <mat-radio-button value="isFulltimeJob">isFulltimeJob</mat-radio-button><br>
                        <mat-radio-button value="isLimitedJob">isLimitedJob</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>
    </div>
</div>