<!-- <h1>Dashboard for Semantic Data</h1> -->
<section>
    <div class="row">
        <div class="col-md-1 d-none d-md-block">
            <div id="trash" style="padding: 15px; margin-bottom: 15px;" class="text-center text-white">
                <div>
                    <ion-icon name="trash" style="font-size: 400%"></ion-icon>
                </div>
            </div>
            <div class="text-center card text-white grid-stack-item newWidget">
                <div class="card-body grid-stack-item-content">
                    <div>
                        <ion-icon name="add-circle" style="font-size: 400%"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-11">
            <div class="grid-container">
                <app-gridstack></app-gridstack>
            </div>
        </div>
    </div>
</section>