.center {
    margin-left: auto;
    margin-right: auto;
}

.grid-stack-item {
    border: 0;
}

.card {
    background: none;
}

section {
    padding: 0 5px 0 5px;
}

#add-circle {
    /* color: #2c3e50; */
    border-radius: 5px;
    background-color: #6cad84;
}

#help-buoy-outline {
    border-radius: 5px;
    background-color: #5763cc;
}

#cloud-upload-outline {
    border-radius: 5px;
    background-color: #3e426f;
}

#cloud-download-outline {
    border-radius: 5px;
    background-color: #2c415f;
}

#trash {
    border-radius: 5px;
    background-color: #cc6857;
}

#heart {
    border-radius: 5px;
    background-color: rgb(115, 105, 148);
}

.logo-button {
    border-radius: 5px;
}

.logo-button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    cursor: pointer;
}

.logo-button:active {
    transform: scale(0.95);
}

.newWidget>.grid-stack-item-content {
    background-color: #6cad84;
}