<section>
    <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="20" class="text-center card text-white grid-stack-item existedWidget">
            <div id="help-buoy-outline" style="padding: 15px; margin-bottom: 15px;" class="text-center text-white">
                <div>
                    <ion-icon name="help-buoy-outline" style="font-size: 400%"></ion-icon>
                </div>
                <div>
                    <span>Dashboard for Semantic Data</span>
                </div>
            </div>
        </div>
        <div fxFlex="20" class="text-center card text-white grid-stack-item existedWidget">
            <div id="add-circle" style="padding: 15px; margin-bottom: 15px;" class="text-center text-white">
                <div>
                    <ion-icon name="add-circle" style="font-size: 400%" (click)="openDialog()"></ion-icon>
                </div>
                <div>
                    <span>Click to create a diagram</span>
                </div>
            </div>
        </div>
        <div fxFlex="20" class="text-center card text-white grid-stack-item existedWidget">
            <div id="heart" style="padding: 15px; margin-bottom: 15px;" class="text-center text-white">
                <div>
                    <ion-icon name="heart" style="font-size: 400%"></ion-icon>
                </div>
                <div>
                    <span>Show Diagrams in Inventory</span>
                </div>
            </div>
        </div>
        <div fxFlex="20" class="text-center card text-white grid-stack-item existedWidget">
            <div id="cloud-upload-outline" style="padding: 15px; margin-bottom: 15px;" class="text-center text-white">
                <div>
                    <ion-icon name="cloud-upload-outline" style="font-size: 400%" (click)="loadDiagram()"></ion-icon>
                </div>
                <div>
                    <span>Load Diagram from Local</span>
                </div>
            </div>
        </div>
        <div fxFlex="20" class="text-center card text-white grid-stack-item existedWidget">
            <div id="trash" style="padding: 15px; margin-bottom: 15px;" class="text-center text-white">
                <div>
                    <ion-icon name="trash" style="font-size: 400%"></ion-icon>
                </div>
                <div>
                    <span>Click to remove widget</span>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex="100">
            <div class="grid-container">
                <app-gridstack></app-gridstack>
            </div>
        </div>
    </div>
</section>