<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <button mat-raised-button mat-dialog-close *ngIf="!tileSerial" style="background-color:steelblue; color: white;">Back to Visualization Generator</button>
        </div>
        <h2 mat-dialog-title align="center">Line Chart Editor</h2>
    </div>
    <div class="card" style="margin-top: 20px;">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9" id="editor-line" style="text-align: center; margin-top: 15px;">
                    <strong><label id="title-label">Title: </label></strong>
                    <input type="text" id="title-text" style="text-align: center; margin-left: 5px; border-radius: 5px; vertical-align: middle;" [(ngModel)]="title" (ngModelChange)="onTitleChange($event)" placeholder="Please enter the title"/>
                    <input type="color" id="bar-color" [(ngModel)]="barColor" (ngModelChange)="onColorChange($event)" style="margin-left: 5px; vertical-align: middle;">
                </div>
                <div class="col-md-3" style="margin-top: 10px;">
                    <button mat-raised-button (click)="addToDashboard()" color="primary" style="margin-top: 5px; width: 100%; display: block">Add to Dashboard</button>
                    <button mat-raised-button (click)="cancel()" style="margin-top: 5px; width: 100%; display: block; background-color:steelblue; color: white;">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>