<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <button mat-raised-button mat-dialog-close>Back to Dashboard</button>
        </div>
        <h2 mat-dialog-title align="center">Visualization Editor</h2>
    </div>
    <div class="row">
        <div class="col-xxl-9">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="subject">
                    <th mat-header-cell *matHeaderCellDef> subject </th>
                    <td mat-cell *matCellDef="let el"> {{el.s?.value}} </td>
                </ng-container>

                <ng-container matColumnDef="predicate">
                    <th mat-header-cell *matHeaderCellDef> predicate </th>
                    <td mat-cell *matCellDef="let el"> {{el.p?.value}} </td>
                </ng-container>

                <ng-container matColumnDef="object">
                    <th mat-header-cell *matHeaderCellDef> object </th>
                    <td mat-cell *matCellDef="let el"> {{el.o?.value}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
            </table>
        </div>
        <div class="col-xxl-3">
            <textarea class="form-control" rows="20" placeholder="Please write your Sparql Query hier ^_^" [(ngModel)]="query"></textarea>
            <button mat-raised-button (click)="applyChanges()" style="margin-top: 5px; width: 100%; display: block;">Apply Changes</button>
        </div>
    </div>
</div>