@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 30px;
    background-color: gray;
}

.version-info {
    font-size: 8pt;
    float: right;
    margin: 8px;
}

.hello {
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
}

.grid-stack-item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
}

.mat-tooltip {
    font-size: 0.9em;
    text-align: justify;
}